<% if(message){ %>
    <% if(message.success){ %>
        <div class="alert alert-success" role="alert">
            <%= message.success %>
        </div>
    <% } %>

    <% if(message.info){ %>
        <div class="alert alert-info" role="alert">
            <%= message.info %>
        </div>
    <% } %>

    <% if(message.error){ %>
        <div class="alert alert-danger" role="alert">
            <%= message.error %>
        </div>
    <% } %>

    <% if(message.warning){ %>
        <div class="alert alert-warning" role="alert">
            <%= message.warning %>
        </div>
    <% } %>
<% } %>